In [3]:
import pandas as pd
import numpy as np

#### 1. Đọc dữ liệu từ file vào DataFrame

In [21]:
df = pd.read_csv("D:\\09_Đạt_0096\\Data\\hang_hoa.csv")
df

   ma_hh ten_hh  sl_ton_kho  gia_nhap  gia_ban
0  HH001   Bánh        1500      5000     7000
1  HH002    Sữa        1300     10000    15000
2  HH003  Đường        1250     15000    20000
3  HH004    Gạo        1200     20000    25000
4  HH005   Nước         180      7000    10000

#### 2. Hiển thị thông tin chung của dữ liệu: head, tail, info, describe

In [22]:
print("5 dòng dữ liệu đầu của dữ liệu:")
print(df.head())

5 dòng dữ liệu đầu của dữ liệu:
   ma_hh ten_hh  sl_ton_kho  gia_nhap  gia_ban
0  HH001   Bánh        1500      5000     7000
1  HH002    Sữa        1300     10000    15000
2  HH003  Đường        1250     15000    20000
3  HH004    Gạo        1200     20000    25000
4  HH005   Nước         180      7000    10000

In [23]:
print("5 dòng dữ liệu cuối của dữ liệu:")
print(df.tail())

5 dòng dữ liệu cuối của dữ liệu:
   ma_hh ten_hh  sl_ton_kho  gia_nhap  gia_ban
0  HH001   Bánh        1500      5000     7000
1  HH002    Sữa        1300     10000    15000
2  HH003  Đường        1250     15000    20000
3  HH004    Gạo        1200     20000    25000
4  HH005   Nước         180      7000    10000

In [24]:
print("\nThông tin (info) của dữ liệu:")       # Thông tin tổng quan
print(df.info())

Thông tin (info) của dữ liệu:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ma_hh       5 non-null      object
 1   ten_hh      5 non-null      object
 2   sl_ton_kho  5 non-null      int64
 3   gia_nhap    5 non-null      int64
 4   gia_ban     5 non-null      int64
dtypes: int64(3), object(2)
memory usage: 332.0+ bytes
None

In [25]:
print("\nThống kê (describe) của dữ liệu:")       # Thống kê dữ liệu số
print(df.describe())

Thống kê (describe) của dữ liệu:
        sl_ton_kho      gia_nhap       gia_ban
count     5.000000      5.000000      5.000000
mean   1086.000000  11400.000000  15400.000000
std     519.114631   6107.372594   7300.684899
min     180.000000   5000.000000   7000.000000
25%    1200.000000   7000.000000  10000.000000
50%    1250.000000  10000.000000  15000.000000
75%    1300.000000  15000.000000  20000.000000
max    1500.000000  20000.000000  25000.000000

#### 3. Kiểm tra xem có cột nào bị null không?

In [26]:
print("\nKiểm tra dữ liệu null:")
print(df.isnull().sum())                             # Tổng null theo từng cột

Kiểm tra dữ liệu null:
ma_hh         0
ten_hh        0
sl_ton_kho    0
gia_nhap      0
gia_ban       0
dtype: int64

#### 4. Thay giá trị ở cột bị null bằng giá trị trung bình của cột đó với dữ liệu kiểu số

In [27]:
df.fillna(df.mean(numeric_only=True), inplace=True) #numeric_only=True: Chỉ áp dụng tính toán trung bình cho các cột kiểu số (numerical). Các cột không phải kiểu số sẽ bị bỏ qua.
print("\nDữ liệu sau khi thay thế giá trị Null ở các cột kiểu số:") #Hàm fillna() được dùng để thay thế các giá trị NaN trong DataFrame bằng giá trị được chỉ định.
print(df)
#Nếu inplace=False (mặc định), lệnh sẽ trả về một DataFrame mới với các giá trị được thay thế mà không ảnh hưởng đến df

Dữ liệu sau khi thay thế giá trị Null ở các cột kiểu số:
   ma_hh ten_hh  sl_ton_kho  gia_nhap  gia_ban
0  HH001   Bánh        1500      5000     7000
1  HH002    Sữa        1300     10000    15000
2  HH003  Đường        1250     15000    20000
3  HH004    Gạo        1200     20000    25000
4  HH005   Nước         180      7000    10000

#### 5. Hiển thị thông tin tổng quan để xác nhận không còn dữ liệu Null

In [28]:
print("\nThông tin sau khi xử lý Null:")
print(df.info())

Thông tin sau khi xử lý Null:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ma_hh       5 non-null      object
 1   ten_hh      5 non-null      object
 2   sl_ton_kho  5 non-null      int64
 3   gia_nhap    5 non-null      int64
 4   gia_ban     5 non-null      int64
dtypes: int64(3), object(2)
memory usage: 332.0+ bytes
None

#### 6. Tính tổng giá trị tồn kho bằng cách nhân Giá nhập với Số lượng tồn kho cho từng hàng hóa

In [29]:
df['tong_gia_tri_ton_kho'] = df['gia_nhap'] * df['sl_ton_kho'] #Tạo 1 cột mới trong df 
print("\nTổng giá trị tồn kho của các mặt hàng:")
print(df[['ma_hh', 'ten_hh', 'tong_gia_tri_ton_kho']])

Tổng giá trị tồn kho của các mặt hàng:
   ma_hh ten_hh  tong_gia_tri_ton_kho
0  HH001   Bánh               7500000
1  HH002    Sữa              13000000
2  HH003  Đường              18750000
3  HH004    Gạo              24000000
4  HH005   Nước               1260000

#### 7. Tạo MultiIndex cho DataFrame bằng cách sử dụng ten_hh và ma_hh làm chỉ mục

In [30]:
df.set_index(['ten_hh', 'ma_hh'], inplace=True) #Thực hiện thay đổi trực tiếp trên DataFrame df mà không cần gán lại kết quả vào biến mới.
print("\nDataFrame sau khi tạo MultiIndex:")
print(df.head())

DataFrame sau khi tạo MultiIndex:
              sl_ton_kho  gia_nhap  gia_ban  tong_gia_tri_ton_kho
ten_hh ma_hh
Bánh   HH001        1500      5000     7000               7500000
Sữa    HH002        1300     10000    15000              13000000
Đường  HH003        1250     15000    20000              18750000
Gạo    HH004        1200     20000    25000              24000000
Nước   HH005         180      7000    10000               1260000

#### 8. Nhóm dữ liệu theo tên hàng hóa và tính trung bình (gia_nhap, gia_ban) cho từng loại

In [31]:
grouped = df.groupby('ten_hh')[['gia_nhap', 'gia_ban']].mean()
print("\nGiá nhập và giá bán trung bình theo loại hàng hóa:")
print(grouped)

Giá nhập và giá bán trung bình theo loại hàng hóa:
        gia_nhap  gia_ban
ten_hh
Bánh      5000.0   7000.0
Gạo      20000.0  25000.0
Nước      7000.0  10000.0
Sữa      10000.0  15000.0
Đường    15000.0  20000.0

#### 9. Lọc danh sách các hàng hóa có tổng giá trị tồn kho trên 10 triệu đồng

In [32]:
filtered = df[df['tong_gia_tri_ton_kho'] > 10_000_000]
print("\nDanh sách hàng hóa có tổng giá trị tồn kho trên 10 triệu đồng:")
print(filtered)

Danh sách hàng hóa có tổng giá trị tồn kho trên 10 triệu đồng:
              sl_ton_kho  gia_nhap  gia_ban  tong_gia_tri_ton_kho
ten_hh ma_hh
Sữa    HH002        1300     10000    15000              13000000
Đường  HH003        1250     15000    20000              18750000
Gạo    HH004        1200     20000    25000              24000000

#### 10. Tạo một mảng NumPy từ dữ liệu Số lượng tồn kho và tìm mặt hàng tồn nhiều nhất và ít nhất

In [33]:
mang_sl_ton_kho = df['sl_ton_kho'].to_numpy()

max_ton_kho = df[df['sl_ton_kho'] == df['sl_ton_kho'].max()]
                                    #So sánh từng giá trị trong cột sl_ton_kho với giá trị lớn nhất.
min_ton_kho = df[df['sl_ton_kho'] == df['sl_ton_kho'].min()]

print("\nHàng hóa tồn nhiều nhất:")
print(max_ton_kho)

print("\nHàng hóa tồn ít nhất:")
print(min_ton_kho)

Hàng hóa tồn nhiều nhất:
              sl_ton_kho  gia_nhap  gia_ban  tong_gia_tri_ton_kho
ten_hh ma_hh
Bánh   HH001        1500      5000     7000               7500000

Hàng hóa tồn ít nhất:
              sl_ton_kho  gia_nhap  gia_ban  tong_gia_tri_ton_kho
ten_hh ma_hh
Nước   HH005         180      7000    10000               1260000