In [1]:
import pandas as pd
import numpy as np

#### 1. Đọc dữ liệu từ file nhan_vien.csv vào DataFrame

In [2]:
df = pd.read_csv('D:\\09_Dat_0096\\Data\\nhan_vien.csv')
print("Dữ liệu từ file nhan_vien.csv:")
print(df)

Dữ liệu từ file nhan_vien.csv:
   Ma_nv        Ten_nv       Phong  Luong_cb  G_t  Nm_ct
0  NV001  Nguyễn Văn A     Kế toán   7000000  Nam      5
1  NV002    Trần Thị B     Nhân sự   8000000   Nữ      3
2  NV003    Phạm Văn C          IT   9000000  Nam      2
3  NV004      Lê Thị D   Marketing   7500000   Nữ      6
4  NV005      Vũ Văn E  Kinh doanh   8500000  Nam      4

#### 2. Hiển thị thông tin chung của dữ liệu

In [3]:
print("5 dòng dữ liệu đầu của dữ liệu:")
print(df.head())

5 dòng dữ liệu đầu của dữ liệu:
   Ma_nv        Ten_nv       Phong  Luong_cb  G_t  Nm_ct
0  NV001  Nguyễn Văn A     Kế toán   7000000  Nam      5
1  NV002    Trần Thị B     Nhân sự   8000000   Nữ      3
2  NV003    Phạm Văn C          IT   9000000  Nam      2
3  NV004      Lê Thị D   Marketing   7500000   Nữ      6
4  NV005      Vũ Văn E  Kinh doanh   8500000  Nam      4

In [4]:
print("5 dòng dữ liệu cuối của dữ liệu:")
print(df.tail())

5 dòng dữ liệu cuối của dữ liệu:
   Ma_nv        Ten_nv       Phong  Luong_cb  G_t  Nm_ct
0  NV001  Nguyễn Văn A     Kế toán   7000000  Nam      5
1  NV002    Trần Thị B     Nhân sự   8000000   Nữ      3
2  NV003    Phạm Văn C          IT   9000000  Nam      2
3  NV004      Lê Thị D   Marketing   7500000   Nữ      6
4  NV005      Vũ Văn E  Kinh doanh   8500000  Nam      4

In [5]:
print("\nThông tin (info) của dữ liệu:")       # Thông tin tổng quan
print(df.info())

Thông tin (info) của dữ liệu:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Ma_nv     5 non-null      object
 1   Ten_nv    5 non-null      object
 2   Phong     5 non-null      object
 3   Luong_cb  5 non-null      int64
 4   G_t       5 non-null      object
 5   Nm_ct     5 non-null      int64
dtypes: int64(2), object(4)
memory usage: 372.0+ bytes
None

In [6]:
print("\nThống kê (describe) của dữ liệu:")       # Thống kê dữ liệu số
print(df.describe())

Thống kê (describe) của dữ liệu:
           Luong_cb     Nm_ct
count  5.000000e+00  5.000000
mean   8.000000e+06  4.000000
std    7.905694e+05  1.581139
min    7.000000e+06  2.000000
25%    7.500000e+06  3.000000
50%    8.000000e+06  4.000000
75%    8.500000e+06  5.000000
max    9.000000e+06  6.000000

#### 3. Kiểm tra xem có cột nào bị null không?

In [7]:
print("\nKiểm tra dữ liệu null:")
print(df.isnull().sum())

Kiểm tra dữ liệu null:
Ma_nv       0
Ten_nv      0
Phong       0
Luong_cb    0
G_t         0
Nm_ct       0
dtype: int64

#### 4. Thay giá trị null bằng giá trị trung bình hoặc 0 tùy thuộc vào tính chất của cột

In [8]:
print("\nThay giá trị null bằng giá trị phù hợp:")
df['Luong_cb'] = df['Luong_cb'].fillna(df['Luong_cb'].mean())
df['Nm_ct'] = df['Nm_ct'].fillna(0)  # Thay thế null bằng 0 cho số năm công tác
print(df)

Thay giá trị null bằng giá trị phù hợp:
   Ma_nv        Ten_nv       Phong  Luong_cb  G_t  Nm_ct
0  NV001  Nguyễn Văn A     Kế toán   7000000  Nam      5
1  NV002    Trần Thị B     Nhân sự   8000000   Nữ      3
2  NV003    Phạm Văn C          IT   9000000  Nam      2
3  NV004      Lê Thị D   Marketing   7500000   Nữ      6
4  NV005      Vũ Văn E  Kinh doanh   8500000  Nam      4

#### 5. Hiển thị thông tin tổng quan để xác nhận không còn dữ liệu null

In [9]:
print("\nThông tin sau khi xử lý Null:")
print(df.info())

Thông tin sau khi xử lý Null:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Ma_nv     5 non-null      object
 1   Ten_nv    5 non-null      object
 2   Phong     5 non-null      object
 3   Luong_cb  5 non-null      int64
 4   G_t       5 non-null      object
 5   Nm_ct     5 non-null      int64
dtypes: int64(2), object(4)
memory usage: 372.0+ bytes
None

#### 6. Tính mức lương trung bình của nhân viên và lọc ra các nhân viên có lương trên trung bình

In [10]:
print("\nLọc nhân viên có lương cao hơn mức trung bình:")
luong_tb = df['Luong_cb'].mean()
nv_luong_cao = df[df['Luong_cb'] > luong_tb]
print("Mức lương trung bình:", luong_tb)
print("Nhân viên có lương cao hơn trung bình:")
print(nv_luong_cao)

Lọc nhân viên có lương cao hơn mức trung bình:
Mức lương trung bình: 8000000.0
Nhân viên có lương cao hơn trung bình:
   Ma_nv      Ten_nv       Phong  Luong_cb  G_t  Nm_ct
2  NV003  Phạm Văn C          IT   9000000  Nam      2
4  NV005    Vũ Văn E  Kinh doanh   8500000  Nam      4

#### 7. Tạo MultiIndex cho DataFrame bằng cột Ma_nv và Nam_ct

In [11]:
df.set_index(['Ma_nv', 'Nm_ct'], inplace=True)
print("\nDataFrame sau khi tạo MultiIndex:")
print(df)

DataFrame sau khi tạo MultiIndex:
                   Ten_nv       Phong  Luong_cb  G_t
Ma_nv Nm_ct
NV001 5      Nguyễn Văn A     Kế toán   7000000  Nam
NV002 3        Trần Thị B     Nhân sự   8000000   Nữ
NV003 2        Phạm Văn C          IT   9000000  Nam
NV004 6          Lê Thị D   Marketing   7500000   Nữ
NV005 4          Vũ Văn E  Kinh doanh   8500000  Nam

#### 8. Nhóm dữ liệu theo Phong ban và tính tổng lương cho mỗi nhóm

In [12]:
print("\nTổng lương theo từng phòng ban:")
grouped = df.groupby('Phong')['Luong_cb'].sum()
print(grouped)

Tổng lương theo từng phòng ban:
Phong
IT            9000000
Kinh doanh    8500000
Kế toán       7000000
Marketing     7500000
Nhân sự       8000000
Name: Luong_cb, dtype: int64

#### 9. Sắp xếp nhân viên theo mức lương từ thấp đến cao

In [13]:
sorted_df = df.sort_values(by='Luong_cb', ascending=True)
print("\nNhân viên sắp xếp theo lương:")
print(sorted_df)

Nhân viên sắp xếp theo lương:
                   Ten_nv       Phong  Luong_cb  G_t
Ma_nv Nm_ct
NV001 5      Nguyễn Văn A     Kế toán   7000000  Nam
NV004 6          Lê Thị D   Marketing   7500000   Nữ
NV002 3        Trần Thị B     Nhân sự   8000000   Nữ
NV005 4          Vũ Văn E  Kinh doanh   8500000  Nam
NV003 2        Phạm Văn C          IT   9000000  Nam

#### 10. Tạo một mảng NumPy từ dữ liệu Luong_cb, tính tổng lương của công ty

In [14]:
luong_arr = df['Luong_cb'].to_numpy()
tong_luong = luong_arr.sum()
print("\n10. Mảng NumPy từ Luong_cb và tổng lương công ty:")
print("Mảng NumPy:", luong_arr)
print("Tổng lương công ty:", tong_luong)

10. Mảng NumPy từ Luong_cb và tổng lương công ty:
Mảng NumPy: [7000000 8000000 9000000 7500000 8500000]
Tổng lương công ty: 40000000